@{
    ViewData["Title"] = "Relatórios";
}
<h2>@ViewData["Title"]</h2>

<!-- HomeController insere aqui por meio do link Message-->
<h3>@ViewData["Message"]</h3>

<p>Aqui deve aparecer uma tabela das entradas do banco de dados</p>
<p>Pensar se devemos separar em mais de uma tabela, por ser informações de corte e umidade</p>
<p>Cor de fundo das paginas está em wwwroot/css/site.css, por conta da leitura talvez seja necessario mudar ou usar divs com fundo branco</p>
<p>O VS já usa bootstrap, entao deve dar uma facilitada</p>
